<!doctype html>
<html lang="en">
  <head>
    <title>JLTonline</title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; URL=/conferences/2011/kuchler-schwelle-prasenz.de.html" />
    <link rel="canonical" href="http://wwww.jltonline.de/conferences/2011/kuchler-schwelle-prasenz.de.html" />
  </head>

  <body>
    <h1>New URL</h1>
    <p>
      This content
      <a href="/conferences/2011/kuchler-schwelle-prasenz.de.html"
        >has a new address at http://wwww.jltonline.de/conferences/2011/kuchler-schwelle-prasenz.de.html</a
      >.
    </p>
  </body>
</html>
