<!doctype html>
<html lang="en">
  <head>
    <title>JLTonline</title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; URL=/cfp/2010/21-23-october-2010-humanities.en.html" />
    <link rel="canonical" href="http://wwww.jltonline.de/cfp/2010/21-23-october-2010-humanities.en.html" />
  </head>

  <body>
    <h1>New URL</h1>
    <p>
      This content
      <a href="/cfp/2010/21-23-october-2010-humanities.en.html"
        >has a new address at http://wwww.jltonline.de/cfp/2010/21-23-october-2010-humanities.en.html</a
      >.
    </p>
  </body>
</html>
